package service

import (
	"sync"

	"github.com/KitHub/project_generator/logic"
)

var (
	demoServiceInstance *DemoService
	demoServiceOnce     sync.Once
)

type DemoService struct {
	demoLogic *logic.DemoLogic
}

func NewDemoService(demoLogic *logic.DemoLogic) *DemoService {
	demoServiceOnce.Do(func() {
		demoServiceInstance = &DemoService{
			demoLogic: demoLogic,
		}
	})
	return demoServiceInstance
}
